<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>
    <title>Create a new chat room! | m2n Chat</title>
</head>

<body>
    <header class="homebanner">
        <h1 class="homebannertext">
            <a href="http://www.murarinayak.com/" id="logo">m2n<span>Chat</span></a>
        </h1>
    </header>
    <section class="container">
        <div class="homesection">
            <div class="node">
                <img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo" />
                <h2 id="chat">powered web chat</h2>
            </div>

            <a title="Create" href="/create" id="create">
                <div id="createbutton">
                    <div id="little">Create a Private</div>
                    <div id="big">CHAT ROOM!</div>
                </div>
            </a>

            <div class="tutorial">
                <a title="View the source code." href="https://www.github.com/murarinayak/m2nchat" id="tutorial">
                    or view the source code here
                </a>
            </div>
        </div>
    </section>
</body>

<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet"
        type="text/css">
</footer>

</html>